body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
  width: 100%;
  border-color: black;

}

.landingPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 100vh;
  overflow: hidden;
  transition: all;
  /* background-color: #FF914D; */
  background: linear-gradient(to bottom, #FF914D, #FC7787);
  padding-bottom: 2%;
}

.logo {
  height: 25%;
  /* background-color: #FF914D; */
  align-items: center;
  justify-content: center;
  width: 100%;
  align-content: center;
  justify-items: center;
  display: flex;
}

.logo>img {
  width: 30%;
  height: 70%;
}

.logoSide {
  height: 30%;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-content: center;
  justify-items: center;
  display: flex;

}

.logoSide>img {
  width: 55%;
  height: 90%;
  margin-top: 20;
}

.login {
  margin-top: 2%;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30;
}

.inputText {
  color: white;
  margin-left: 5%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.inputTextField {
  border-radius: 10px;
  border-color: white;
  height: 40px;
  margin-left: 5%;
  width: 80%;
  padding: 10px;
  border-width: 0;
}


.img-logo {
  margin-left: 200;
}

.user-type-radio label {
  display: block;
  margin-bottom: 3%;
  color: white;
  margin-left: 5%;

}

.user-type-heading {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 21;
  margin-top: 5%;

}

.user-type-radio input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle;
}

.submitButton {
  justify-content: center;
  width: 80%;
  margin-top: 5%;
  align-items: center;

}

.loginButton {
  border-radius: 20px;
  border-color: white;
  height: 40px;
  width: 100%;
  justify-content: center;
  color: #FF914D;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-self: center;
  margin-left: 6%;
  border-width: 0;

}
.logoutButton {
  border-radius: 20px;
  border-color: white;
  height: 40px;
  width: 80%;
  justify-content: center;
  color: #FF914D;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-self: center;
  margin-left: 6%;
  border-width: 0;
margin: 10%;

}

.sideBarComponent {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background: linear-gradient(to bottom, #FF914D, #FC7787);
  justify-content: space-between;
  position: absolute;

}

.dashboard-menu-container {
  max-height: calc(100vh - 40px);
  overflow-y: auto;
 
  
}

.logoSideBarComponent {

  height: 100;
  width: 80%;

}

.logoSideBarComponent>img {
  width: 30%;
  height: 40%;
}




.userImages {
  width: 210px;
  height: 198px;
  border-radius: 68%;
  margin-left: 25%;
}

.main {
  /* background-color: #FF914D; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.main ul.menu li a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 15px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
}

.menu {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 80%;
  width: 80%;
  
}

.main ul.menu li {
  list-style-type: none;
  margin-bottom: 5px;
  padding-left: 0px;
  font-size: 28.5px;
  font-weight: bold;
  margin-left: -25PX;
  margin-bottom: -9%;
}

.header-container {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  flex: 1;
}

.dashboard {
  width: 76%;
 padding-top: 2%;
}

.dashboard h1 {
  margin: 1%;
  font-weight: bold;
  /* flex: 1; */
  

}

.dashboard-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-menu-box {
  display: flex;
  background: linear-gradient(to bottom, #FF914D, #FC7787);
  height: 96px;
  border-radius: 10px;
  margin: 5px;
  color: white;
  text-align: center;
  width: 20%;
  margin-right: 9%;
  margin-top: auto;
  padding-top: auto;
  padding-bottom: auto;
  margin-bottom: 4%;
  align-items: center;
  justify-content: center;
}

.dashboard-menu-box h1 {
  padding: 3%;
  font-size: medium;

}

.drivingLicenceImage {
  width: 150px;
  height: 150px;
  border-radius: 96px;
  margin-left: 30%;
}

.user-container {
  width: 77%;
 padding-top: 2%;
 margin-left: 22%;
}

.user-container h1 {
  font-weight: bold;
}

.user-search-container {
 
  margin-top: 1%;
  height: 7%;
  display: flex;
  float: right;
}

.user-search-container button {
  margin-left: 5px;
  height: 38px;
}

.user-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.user-header {
  display: flex;
  align-items: center;
}

.inputTextUserSearchField {
  border-radius: 10px;
  height: 38px;
  margin-left: 5%;
  width: 80%;
  padding: 10px;

}

.content-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content-section>img {
  width: 50%;
  height: 80vh;
  padding: 5%;
  align-self: center;


}

.search-button {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-table-data {
  border-radius: 5px;
}

.user-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e7eaef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBrandButton {
  background-color: #FF914D;
  height: 40px;
  border-radius: 15px;
  border-color: white;
  color: white;
  float: right;
}

.user-logo>img {
  max-width: 70%;
  max-height: 70%;
  border-radius: 50%;
  /* Ensure the image remains within the circular boundary */
}

.active-menu span {
  color: black;
}

.inactive-menu span {
  /* background-color: #FF914D; */
  color: white;
}